
@{
    ViewData["Title"] = "test";
}

<h1>About Us</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap HTML Form</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
  
<style>
    .about{
        border: 15px solid white;
        border-block-color: white;
        padding-left: 10px;     
    }

    body {
        height: 100%;
        width: 100%;
    }
</style>
<body>
<div class="form-control">
<p><b>Welcome to Bowl Them Up, where striking success meets the perfect roll! Established with a passion for creating unforgettable moments of joy and camaraderie, Bowl Them Up is not just a bowling company; it's a destination for fantastic fun, striking memories, and top-notch entertainment.</b></P>
<br /><br />
<b>At Bowl Them Up, we believe in the power of play, and our state-of-the-art bowling alleys are designed to bring people together for a unique and enjoyable experience. Whether you're a casual bowler, a league enthusiast, or a family looking for a night of laughter and friendly competition, we've got the perfect lane for you.</b></p>
<br /><br />
<b>What sets Bowl Them Up apart is our commitment to excellence in every aspect of the bowling experience. From our cutting-edge facilities to our friendly and knowledgeable staff, we strive to create an atmosphere where everyone feels welcome and ready to embrace the thrill of the game.</b></p>
<br /><br />
<b>Our lanes are equipped with the latest technology to enhance your bowling experience, featuring automatic scoring systems and vibrant, dynamic lighting that transforms each game into a visually stunning spectacle. With a variety of bowling leagues, special events, and themed nights, we ensure there's always something exciting happening at Bowl Them Up.</b></p>
<br /><br />
<b>Beyond the lanes, our commitment to the community shines through. We actively engage in local initiatives, support charitable causes, and foster a sense of belonging for everyone who walks through our doors. Bowl Them Up is more than just a bowling alley; it's a community hub where friendships are forged, celebrations are amplified, and memories are made.</b></>
<br /><br />
<b>So, whether you're a seasoned pro or a first-time bowler, come join us at Bowl Them Up for an experience that goes beyond the pins. Let's roll together and create moments that strike a chord in your heart. Bowl Them Up – where the fun never ends!</b></p>
</div>
</body>
