
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<style>

   .query{
       width:300px;
       height:150px;
       text-align:left;
       vertical-align: top;

       max-height:300px;
                                    
</style>

<body>
    <form>
        <label id="fname">Forename:</label>
        <input type="text" id="fname" name="fname" value="">
        <br /><br />
        <label id="sname">Surname:</label>
        <input type="text" id="sname" name="sname" value="">
        <br /><br />
        <label id="query">Query:</label>
        <textarea class="query"></textarea>
        <br /><br />
        <button value="Send">Submit</button>
    </form>
</body>