@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // Remove the layout for this page
}
<head>
    <style>
        .content {
            width: 45%;
            height: 80%;
            float: left; /* Float the content to the left */
        }

        .navbar {

            width: 35%;
            float: right; /* Float the navbar to the right */
        }

            .navbar ul {
                background-color: grey;
                list-style: none;
                padding: 40px;
                margin: 0;
                border-radius:4px;
                margin-right:70px;
                height:60%;
            }

            .navbar li {
                text-align: center;
                border: 1px solid white;
                height:60px;
                font-size:30px;
                margin-bottom:30px;
                border-radius:10px;
                width:84%;
                margin-left:8%;
            }

                .navbar li a {
                    width: 100%;
                    display: block;
                    color: white;
                    text-decoration: none;
                }

        h1 {
            font-size: 50px;
        }

        body {
            margin-top: 10%;
            height: 90%;
            width: 100%;
            background-image: url("../img/bowl.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            overflow: hidden; /* Clear floats in the body */
        }
    </style>
</head>
<body>
    <div class="content">
    </div>
    <div class="navbar">
        <ul>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Events">Events</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VrTour">VR-Tour</a>
            </li>
        </ul>
        <a href="https://www.instagram.com/tenpin_uk/" <img src="img/ig.png"
    </div>
</body>
