@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // Remove the layout for this page
}
<head>
    <style>
        body {
            margin-bottom: 60px;
            background-image: url("../img/bowl.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>welcome</h1>
</div>
</body>