@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // Remove the layout for this page
}
<head>
    <style>
        .content {
            width: 45%;
            height: 80%;
            float: right; /* Float the content to the left */
           
        }

        .navbar {

            width: 35%;
            float: right; /* Float the navbar to the right */
        }

            .navbar ul {
                background: linear-gradient(to left, #333, #aaa);
                list-style: none;
                padding: 40px;
                margin: 0;
                border-radius:4px;
                margin-right:70px;
                height:60%;
            }

            .navbar li {
                text-align: center;
                border: 1px solid white;
                height:60px;
                font-size:30px;
                margin-bottom:30px;
                border-radius:10px;
                width:84%;
                margin-left:8%;
            }

                .navbar li a {
                    width: 100%;
                    display: block;
                    color: white;
                    text-decoration: none;
                }
            .navbar li.img1{
                border:none;
            }
            .imgg{
                float:left;
                margin-left:70px;
                height:50px;
                width:50px;
            }
        h1 {
            font-size:120px;
            font-family:optima;
        }
        h2{
            font-size:30px;
        }

        body {
            margin-top: 10%;
            height: 90%;
            width: 100%;
            background-image: url("../img/bowl.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            overflow: hidden; /* Clear floats in the body */
        }
    </style>
</head>
<body>
    <div class="content">
        <h1><i>THE BOWL THEM UP</i></h1>
        <h2><i>Bowling is an art and the ball is my canvas</i></h2>
    </div>
    <div class="navbar">
        <ul>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Events">Events</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="navitem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="VrTour">VR-Tour</a>
            </li>
            <li class="img1">
                <a href="https://www.instagram.com/tenpin_uk/"> <img class="imgg" src="~/img/ig.jpg" alt="Follow us on Instagram" /></a>
                <a href="https://www.facebook.com/SuperBowlingInstant/?locale=en_GB"> <img class="imgg" src="~/img/fb.jpg" alt="Follow us on Facebook" /></a>
                <a href="https://www.facebook.com/SuperBowlingInstant/?locale=en_GB"> <img class="imgg" src="~/img/x.jpg" alt="Follow us on Twitter" /></a>
            </li>
        </ul>
        
    </div>
</body>
