html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/bowl.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@font-face { /* The custom font we're using */
    font-family: Fonty;
    src:url("../fonts/Bowling.otf");
}

.navbar-custom { /* Gradient colour on the navbar */
    background: linear-gradient(to left, #333, #aaa)
}

.navbar-text { /* Colour of text on the navbar buttons */
    color: white
}

.festive{ /* Colour for the text on the christmas deals page */
    color:red;
}