html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/bowl.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@font-face {
    font-family: Fonty;
    src:url("../fonts/Bowling.otf");
}

.navbar-custom {
    background: linear-gradient(to left, #333, #aaa)
}

.navbar-text {
    color: white
}