
@{
    ViewData["Title"] = "Birthday parties";
}

<style>
    body {
        background-image: url("../img/Birthday23.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden; /* Clear floats in the body */
    }
</style>

<body>
    <div class="form-control">
    <p><b> We have multiple offers on for birthdays and birthday parties such as :<br /> Any birthday sessions booked for over 5 games will recieve 5% off total price. <br /> Any birthday sessions booked for over 10 games will recieve 10% off total price.</b></p>
    <br />
    <p><b> Birthday bookings include: <br /> Discounted total price. <br /> Private alleys and food area for the time booked.<br /> Personal music allowed on the speakers.<br /> play area open for parties for under 12s.</b></p>
    <br />
    <P><b> DISCLAIMER: <br /> Music must be kept family friendly. <br /> Private area must be kept relatively clean otherwise a cleaning fee may be charged.<br /> under 16s must be accompanied by an adult while playing.</b></P>
    </div>
</body>