
@{
    ViewData["Title"] = "Business bookings";
}
<style>
    body {
        background-image: url("../img/business.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden; /* Clear floats in the body */
    }
</style>

<body>
    <div class="form-control">
        <p><b> We are happy to say that we also take business bookings / parties. <br /> below are some of the things we offer:</b></p>
        <p><b> We offer business bookings for a more formal side of things, this will include a private area which will allow the same / include the same rules and benefits as the private birthday area and lanes. <br /> This will allow some privacy for those who wish to conduct business and celebrate. </b></p>
        <p><b> We also offer business bookings for less formal events, such as celebrations christmas parties etc. <br /> this will also include the benefits of a private area and lanes plus discounted prices on food and drink </b></p>
        <br />
        <p><b> DISCLAIMER: <br /> all rules are the same as the birthday private area apart from the play area.</b></p>
    </div>
</body>