
@{
    ViewData["Title"] = "christmas";
}
<style>
    body {
        background-image: url("../img/chrs.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden; /* Clear floats in the body */
    }
</style>

<h1 class="festive">❄️ Christmas Deals ❄️</h1>

<body>
    <p><b> This christmas, BTU has some amazing deals for friends and family !</b></p>
    <br />
    <p><b> Family deals:<br /> Families of 3 - 4 - £5 per person instead of £10. <br /> Families of 5 - 6 - £7 per person instead of £12. <br /> Families over 6 people - £10 per person instead of £15.</b></p>
    <br />
    <p><b> Friends deals: <br /> any booking with over 8 games in total will recieve a free entry into the christmas raffle, The number one prize being a voucher for 10 free games for you and friends / family. <br /> Any boooking with over 12 games in total will also be entered into the raffle however will also recieve discounted food and drinks.</b></p>
    <br />
    <p><<b> There is a further 10% discount for every booking made during the deal timeframe and a further 15% for students.</b></p>
    <br />
    <p><b> These deals with begin from december 1st - january 1st, so please don't miss out on these amazing offers and book yourself a fun day with family / friends !</b></p>
</body>