
@{
    ViewData["Title"] = "christmas";
}
<style>
    body {
        background-image: url("../img/chrs.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden; /* Clear floats in the body */
    }
</style>
<div class="main">

</div>